{% extends 'base/base.html' %}

{% block title %}
Add Product
{% endblock %}

{% block content %}
<section class="d-flex row m-5">

    <div class="col rounded-3">

    </div>

    <div class="col justify-contant-around">
        <div>
            <img class="rounded-3" src="{{product.thumbnail.url}}" alt="" width="200px" height="100px">
        </div>
        <h2>
            {{product.title}}
        </h2>
        <p>
            {{product.desc}}
        </p>
        <p>
            ${{product.price}}
        </p>

        <div class="d-flex flex-row">
            <a href="" class="btn btn-outline-success">Add to Cart</a>
            <a href="{% url 'edit_product' product.pk %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'delete_product' product.pk %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
</section>
{% endblock %}