{% extends 'base/base.html' %}

{% block title %}
Add Product
{% endblock %}

{% block content %}
<section class="d-flex row m-5">

    <div class="col">
        <div id="carouselExampleRide" class="carousel slide position-relative" data-bs-ride="true" >
            <div class="carousel-inner">

                {% for image in product.images.all %}
                <div class="position-relative carousel-item {% if forloop.first %}active{% endif %}">

                    <a href="{% url 'edit_prod_image' image.pk %}" class="btn btn-success position-fixed "><i class="bi bi-pencil-square"></i></a>

                    <a href="{% url 'del_prod_image' image.pk %}" class="btn btn-danger position-fixed ms-5"><i class="bi bi-trash3-fill"></i></a>

                    <img id="product_carousel" src="{{ image.img.url }}" class="d-block w-100" alt="{{ product.title}}">


                </div>
                {% endfor %}

            </div>
            <button class="carousel-control-prev" id="product-carousel-button" type="button" data-bs-target="#carouselExampleRide"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" id="product-carousel-button" type="button" data-bs-target="#carouselExampleRide"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden bg-danger">Next</span>
            </button>
        </div>
    </div>

    <div class="col justify-contant-around gap-3">
        <div>
            <img class="rounded-3" src="{{product.thumbnail.url}}" alt="" width="200px" height="100px">
        </div>
        <h2>
            {{product.title}}
        </h2>
        <p>
            {{product.desc}}
        </p>
        <p>
            ${{product.price}}
        </p>
        <div class="d-flex  gap-3">
            <a href="" class="btn btn-outline-success add-to-cart">Add to Cart</a>
            <a href="{% url 'edit_product' product.pk %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'delete_product' product.pk %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
</section>

<section class="mb-5 ms-5">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-success">Upload</button>
    </form>
</section>
{% endblock %}