{% extends 'base/base.html' %}

{% block title %}
Add Product
{% endblock %}

{% block content %}
<section class="d-flex row m-5">

    <div class="col">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner position-relative">

                {% for image in product.images.all %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="10000">

                    <div>
                        <a href="{% url 'edit_prod_image' image.pk %}" class="btn btn-success position-absolute z-1"><i
                                class="bi bi-pencil-square"></i></a>
                        <a href="{% url 'del_prod_image' image.pk %}"
                            class="btn btn-danger position-absolute top-0 end-0 z-1"><i class="bi bi-trash3"></i></a>
                    </div>
                    <img style="height: 400px" src="{{image.img.url}}" class="w-100 rounded-3" alt="Watch-product">

                </div>

                {% endfor %}

            </div>
            <div>
                
            </div>
        </div>
    </div>

    <div class="col justify-contant-around gap-3">
        <div>
            <img class="rounded-3" src="{{product.thumbnail.url}}" alt="" width="200px" height="100px">
        </div>
        <h2>
            {{product.title}}
        </h2>
        <p>
            {{product.desc}}
        </p>
        <p>
            ${{product.price}}
        </p>

        <div class="d-flex  gap-3">
            <a href="" class="btn btn-outline-success">Add to Cart</a>
            <a href="{% url 'edit_product' product.pk %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'delete_product' product.pk %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
</section>

<section class="mb-5 ms-5">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-success">Upload</button>
    </form>
</section>
{% endblock %}