{% extends 'base/base.html' %}

{% block title %}
Delete Product
{% endblock %}

{% block content %}

<section style="padding: 30px;" id="cart-page" class="container-fluid"
data-plus-url="{% url 'increase_quantity' %}" 
data-minus-url = "{% url 'decrease_quantity' %}"
data-remove-url = "{% url 'remove_item' %}">
{% csrf_token %}
<h2 class="cart-title" style="text-align: center;">My cart</h2>

{% if cart_items %}

<div class="cart_container">
    <div class="cart_details">

        {% for item in cart_items %}
            {% include 'cart/includes/product_cart_item.html' %}
        {% endfor %}
    </div>

    <!-- Right side -->
     <div class="cart_summary">
            <div class="card-body">
                <h5 class="summary-title">Order Summary</h5>

                <div class="summary-row">
                    <span>Total Items :</span>
                    <span>{{ total_quantity }}</span>
                </div>

                <div class="summary-row total">
                    <span>Total Price :</span>
                    <span>₹ {{total_price}}</span>
                </div>

                <a href="{% url 'create_order' %}" class="btn w-100 fw-bold" style="background-color: green; color: white; margin-top: 10px;">
                    Proceed to Checkout
                </a>
            </div>
     </div>
</div>
{% else %}

    {% include 'cart/includes/empty_cart.html' %}

{% endif %}
</section>

{% endblock %}
