*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    padding-top: 55px;
}
/* Home page */
#carousel-image { 
   height: 350px;
   object-fit: cover;
   border-radius: 10px;
}
/* Products page */
#product_image{
    height: 200px;
    object-fit: cover;
}
.img_and_title{
    color: black;
    text-decoration: none;
}

/* Product details page */

/* update product */
.update-product{
    display: flex;
}

/* add product */
.add_product{
    display: flex;
    justify-content: center;
}

/* add to cart */
.cart-badge {
            position: absolute;
            top: 2px;
            right: 0;
            background: #f08804;
            color: #000;
            font-size: 11px;
            font-weight: bold;
            padding: 2px;
            border-radius: 50%;
            line-height: 1;
        }