{% extends 'base/base.html' %}

{% block title %}
Forget Password
{% endblock %}

{% block content %}
<section class="send_otp_section">
<div class="send_otp_container">
    <h2>Send opt to Register Email</h2>
    <form method="post" class="send_otp_form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-email">
                Email Address
            </label>
            <input type="email" class="form-control" name="email" id="email" required>
        </div>
        <button type="submit" class="btn btn-success">Send Otp</button>
    </form>
</div>
</section>
{% endblock %}