<section id="products-container" class="container-fluid mt-3 ms-0 w-100" data-add-url ="{% url 'add_to_cart' %}">
{% csrf_token %}  
    <div class="products_sub_container">
        {% for product in products %}
            <div>
                {% include 'products/includes/productCard.html' %}
            </div>
        {% empty %}
            <div class="col-12 text-center">
                <p class="text-muted">No such Products Available </p>
            </div>
        {% endfor %}
    </div>
</section>