<div class="cart-item" data-product-id="{{ item.product.id }}">

    <div class="row g-5 align-items-center w-70">

        <!-- Image -->
        <div class="col-md-3 text-center cart-thumb">
            <img src="{{ item.product.thumbnail.url }}" class="img-fluid rounded">
        </div>

        <!-- Details -->
        <div class="col-md-6">
            <div class="card-body">

                <h5 class="cart-product-title">
                    <a href="{% url 'product_details' item.product.pk %}" style="color: black; text-decoration: none;" class="no-decoration">
                        {{ item.product.title }}
                    </a>
                </h5>

                <p class="cart-product-desc">
                    {{ item.product.desc|truncatewords:15 }}
                </p>

                <p class="cart-price" style="font-weight: bold; color: green;">
                    ₹{{ item.product.price }}
                </p>

                <div class="cart-controls">

                    <!-- MINUS -->
                    <button class="btn btn-outline-secondary btn-sm qty-minus">-</button>

                    <!-- QTY -->
                    <span class="cart-qty qty">{{ item.quantity }}</span>

                    <!-- PLUS -->
                    <button class="btn btn-outline-secondary btn-sm qty-plus">+</button>

                    <!-- REMOVE -->
                    <button class="btn btn-danger btn-sm ms-3 remove-item">
                        Remove
                    </button>

                </div><hr style="width: 100%;">

            </div>
        </div>

        <!-- Subtotal -->
        <div style="color: green; font-weight: bold; padding-left: 0px;" class="col-md-3 text-end cart-subtotal subtotal">
            ₹{{ item.subtotal }}
        </div>

        <form style="display:none;">
            {% csrf_token %}
        </form>


    </div>

</div>